header {
    text-align: center;
    background-color: rgba($color: greenyellow, $alpha: 0.5);
    margin-bottom: 80px;
    padding: 10px;
}

a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;

    &:hover {
        border-bottom: 2px solid black;
        padding-bottom: 5px;
    }
}

.active {
    color: black;
    border-bottom: 2px solid black;
    font-weight: bold;
    padding-bottom: 5px;
}