<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{snapped:  faceSnap.snaps>=10 }">
    <p>{{ 436 | currency: 'EUR'}}</p>
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <a routerLink="/facesnap">Back to main</a>
    <p>Mis en ligne {{ faceSnap.createdDate | date: 'le d MMMM yyyy, à HH:mm' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise a {{ faceSnap.location }}</p>
    <p>
        <button (click)="onAddSnap(faceSnap.id)"> Like </button>
        <span [ngStyle]="{color: 'rgb(0,'+ (faceSnap.snaps)*20 +',0)'}">🤌 {{ faceSnap.snaps }}</span>
        <button (click)="onRemSnap(faceSnap.id)"> DisLike </button>
    </p>
</div>